body {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 0;
  background-color: papayawhip;
  font-family: 'Allura', cursive;
}

.carousel {
  height: 100%;
  width: 100%;
}

#favoritesHeader {
  display: flex;
  flex-direction: column;
}

#favoritesBody {
  text-align: center;
  margin: 10vw;
}

#galleryBody {
  text-align: center;
  margin-top: 5vh;
  margin: 10vw;
}

.carousel-item img {
  object-fit: cover;
  object-position: center;
  height: 85vh;
  overflow: hidden;
}

.title {
  margin-top: 20vh;
}

.navbar-brand {
  cursor: pointer;
}

h1 {
  font-size: 96px;
}

h2 {
  font-size: 64px;
}

.photo-container {
  position: relative;
  cursor: pointer;
  transition: transform 0.2s ease-out;
}

.photo-container:hover {
  transform: scale(1.05);
}

.photo-container.selected {
  z-index: 1000;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1.5);
  background-color: rgba(0, 0, 0, 0.9);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.photo-container.selected img {
  max-width: 50%;
  max-height: 50%;
}

.heart-icon {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 1.5rem;
  color: red;
}

.photo-container:hover .heart-icon {
  transform: scale(0.95);
}


@media (max-width: 1180px) {
  .title h1 {
      font-size: 96px;
      text-align: center;
  }
  .title h2 {
      font-size: 48px;
      text-align: center;
  }
}

@media (max-width: 768px) {
  .title h1 {
      font-size: 64px;
  }
  .title h2 {
      font-size: 32px;
  }
}

@media (max-width: 480px) {
  .title h1 {
      font-size: 48px;
  }
  .title h2 {
      font-size: 24px;
  }
}